{block content}

    <div id="sub-title" class="row">
        <div class="col s12">
            <h2><a n:href="Brand:"><i class="material-icons">arrow_back</i></a> Vytvořit značku</h2>
        </div>
    </div>

    {include 'Components/form.latte'}

{/block}