$primary-blue: #3561be;
$secondary-blue: #4486de;
$gray: #eeeeee;
$white: #fff;

@import 'signIn.scss';
@import 'admin.scss';

.btn {
  background-color: $secondary-blue;
  color: $white;


  input {
    background-color: $secondary-blue;
    color: $white;
    cursor: pointer;
  }

  &:hover {
    background-color: $primary-blue;

    input {
      background-color: $primary-blue;
    }
  }
}

.material-icons {
  transform: translateY(13%);
}