{varType array $brands}

{block content}
	
	<h1>Brands</h1>

	<div n:foreach="$brands as $brand" class="brand">
		<div class="brand-id">{$brand->brandId}</div>

		<div class="brand-name">{$brand->name}</div>
	</div>

{/block}